<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
    <script src="https://kit.fontawesome.com/d28bf72700.js" crossorigin="anonymous"></script>
    <title>Add Post</title>
</head>
<body>

    <header>
        <div class="navbar">
            <div class="navbar-name">
                Manabu
                <a href="/"></a>
            </div>
            <div class="navbar-right">
                <div class="navbar-item add-post">
                    <a href="addpost"></a>
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
    </header>

    <h1 class="main-header">Submit a post</h1>

    <form action="" method="post" class="add-post">
        <div class="form-wrapper">
            <div class="form-wrapper-hor">
                <div class="form-connect form-full-flex">
                    <label for="post-title-submit"><h3>Post Title</h3></label>
                    <input type="text" name="post-title-submit" id="post-title-submit">
                </div>
            </div>
        </div>
        <div class="form-wrapper">
            <label for="post-body-submit"><h3>Post Body</h3></label>
            <textarea name="post-body-submit" id="post-body-submit" cols="30" rows="10"></textarea>
        </div>



        <button>Submit</button>

    </form>
    
</body>
</html>