<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
    <script src="https://kit.fontawesome.com/d28bf72700.js" crossorigin="anonymous"></script>
    <title>Add Post</title>
</head>
<body>

    <header>
        <%- include('partials/navbar') %>
    </header>

    <h1 class="main-header">Submit a post</h1>

    <form action="/addpost" method="post" class="add-post">
        <div class="form-wrapper">
            <label for="title"><h3>Post Title</h3></label>
            <input type="text" name="title" id="title">
            <label for="subject"><h3>Post Subject</h3></label>
            <input type="text" name="subject" id="subject">
        </div>
        <div class="form-wrapper">
            <label for="body"><h3>Post Body</h3></label>
            <textarea name="body" id="body" cols="30" rows="10"></textarea>
        </div>

        <button>Submit</button>

    </form>
    
</body>
</html>